<!DOCTYPE html>
<html>
<head>
	<header>
	<%- include('./partials/head'); %>
    <%- include('./partials/header'); %>
    
    <div class="container">
        <div style="align-self: center;">
            <form style="display: inline" action="/profile" method="get">
                <button type="submit" class="btn btn-success" style="background-color: green;">My Profile</button>
            </form>
        </div>
        <%if (resources.length > 0) {%>
        <div class="row">
            <table class="space">
                <tr>
                    <th>ID</th><th>Name</th><th>Class</th><th class="desc">Description</th><th>View</th>
                </tr>
                <%for (let resource of resources) {%>

                    <tr>
                        <td><%= resource.resource_id%></td>
                        <td><%= resource.name%></td>
                        <td><%= resource.standard%></td>
                        <td class="desc"><%= resource.desc%></td>
                        <td><a href="<%=resource.url%>" target="_blank" onMouseOver="this.style.color='#0F0'"
                            onMouseOut="this.style.color='#00F'" style="color: white;">Click</a></td>
                    </tr>
                <%}%>
            </table>
            

            <div class="container mt-4">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <% if (hasPreviousPage) { %>
                        <li class="page-item">
                            <a class="page-link" href="?page=1" style="color: white;">First</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page=<%= previousPage %>" style="color: white;"><%= previousPage %></a>
                        </li>
                        <% } %>
                        <li class="page-item active">
                            <a class="page-link" href="?page=<%= currentPage %>" style="color: white;"><%= currentPage %></a>
                        </li>
                        <% if (hasNextPage) { %>
                        <li class="page-item">
                            <a class="page-link" href="?page=<%= nextPage %>" style="color: white;"><%= nextPage %></a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page=<%= lastPage %>" style="color: white;">Last</a>
                        </li>
                        <% } %>
                    </ul>
                    
                </nav>
            </div>
        </div>
        <%} else {%>
        <div class="text-center">
            <h5>No Resources found.</h5>
            <div class="mt-4">
                <a href="/" class="btn " style="color: wheat;">Go Home</a>
            </div>
        </div>
        <%}%>
    </div>


	</header>


	<footer>
		<%- include('./partials/footer'); %>
	</footer>

</body>
</html>